body {
  margin: 0px;
}

.calculator-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.right-side {
  display: flex;
  height: 100%;
  width: 60%;
  background: rgb(197, 197, 197);
  align-items: center;
  justify-content: center;
}

.chart-container {
  display: flex;
  height: 100%;
  width: calc(100% - 60px);
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.calculator-container {
  width: 40%;
  background: rgb(226, 178, 178);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calculator-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0px;
}
