:root {
  --page-background-color: #eadfdb;
  --background-color: #d8c2b5;
  --text-color: #455050;
}

body {
  margin: 0px;
}

.calculator-page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: var(--page-background-color);
  color: var(--text-color);
}

.right-side {
  display: flex;
  height: calc(100% - 20px);
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 10px 0;
}

.summary-card-container {
  background: var(--background-color);
  height: 20%;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  gap: 10px;
}

.break-down-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chart-container {
  display: flex;
  height: 100%;
  width: calc(100% - 40px);
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.calculator-container {
  width: calc(40%);
  background: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 10px 10px 20px;
}

.calculator-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0px;
}

.summary-total {
  font-size: 30px;
  font-weight: bold;
}
.summary-growth,
.summary-principal {
  font-size: 20px;
}

@media (max-width: 1000px) {
  .calculator-page-container {
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .calculator-container {
    width: calc(100% - 20px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    gap: 10px;
    margin: 10px 10px 0px 10px;
  }

  .right-side {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .calculator-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
  }

  .chart-container {
    display: flex;
    height: 100%;
    width: calc(100% - 20px);
  }
  .summary-card-container {
    gap: 10px;
    height: 100%;
    width: calc(100% - 20px);
  }
  .summary-total {
    font-size: 18px;
    font-weight: bold;
  }
  .summary-growth,
  .summary-principal {
    font-size: 12px;
  }

  .break-down-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
