.calculator-container {
  width: 50%;
  height: 100vh;
  background: rgb(226, 178, 178);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.calculator-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0px;
}
